<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dg9murjje/image/upload/v1653554906/banner_image_s1vdkm.webp);">
  <%# <img id="banner-logo" src="https://res.cloudinary.com/dg9murjje/image/upload/v1653387311/sqfa66cjv5suawauacq2.png" /> %>
  <div class="container d-flex flex-column align-items-center">
    <h1>Join the movement - stop swimming - start
    <i class="highlited-pink">FLOATING!</i>
    </h1>

    <%= form_tag floatdevices_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your float!"
        %>
        <%= submit_tag "Find floaties!", class: "btn btn-pink-sq" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">

    <% @floatdevices.each do |floatdevice| %>
        <div class="col-3">
        <%= link_to floatdevice_path(floatdevice) do %>
          <div class="card-dina my-3">
            <div class="f-lex justify-content-center card-img-div" style="text-align: center">
              <%= cl_image_tag floatdevice.photo.key %>
            </div>

            <div class="card-dina-infos">
              <div>
                <h2><%= floatdevice.name %></h2>
                <p><%= floatdevice.description %></p>
              </div>
              <h2 class="card-dina-pricing"><i class="fas fa-euro-sign"></i><%= floatdevice.price %></h2>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>

  </div>

</div>

<!--
<%= link_to "Improve Your Ruby Skills", "/ruby-book" %>

<div class="container">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
    <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
</div>
-->
