<div class="container">
  <%= simple_form_for(@floatdevice) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :category %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.input :special_features %>
    <%= f.input :photo, as: :file, direct_upload: true %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
