<div class="card-trip mt-4 mb-4">
  <h2><%= @floatdevice.name.upcase %></h2>
  <%= cl_image_tag @floatdevice.photo.key, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <p>Category: <%= @floatdevice.category %></p>
      <p>Short description here: <%= @floatdevice.description %></p>
    </div>
    <div>
      <h2 class="card-trip-pricing">$<%= @floatdevice.price %></h2>
      <h3><%= @floatdevice.name %></h3>
    </div>
<%= link_to "Float now", new_floatdevice_booking_path(@floatdevice), class: "text-center btn btn-primary" %>
  </div>
</div>
