<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3">
      <div class="button-box">
        <a href="#floaty" class="btn btn-primary">Floaty</a>
        <a href="#request" class="btn btn-primary">Requests</a>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
            <h3 class="mt-3" id="floaty">Your floaties</h3>
        <% @floatdevices.each do |floatdevice| %>
          <div class="col-3">
            <%= link_to floatdevice_path(floatdevice) do %>
              <div class="card-dina my-3">
                <div class="f-lex justify-content-center card-img-div" style="text-align: center">
                  <%= cl_image_tag floatdevice.photo.key %>
                </div>
                <div class="card-dina-infos">
                  <div>
                    <h2><%= floatdevice.name %></h2>
                  </div>
                  <h2 class="card-dina-pricing"><i class="fas fa-euro-sign"></i><%= floatdevice.price %></h2>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
      <h3 id="request">Booking requests for your floaties!</h3>
        <% @booking_requests.each do |booking_request| %>
          <div class="col-3">
      <%# <%= link_to floatdevice_path(floatdevice) do %>
            <div class="card-dina my-3">
              <div class="f-lex justify-content-center card-img-div" style="text-align: center">
                <%= cl_image_tag booking_request.floatdevice.photo.key %>
              </div>
              <div class="card-dina-infos">
                <div>
                  <h2>
                    <span style="
                        display:inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 20ch;"><%= booking_request.floatdevice.name %>
                    </span>
                  </h2>
                  <p>Requested by: <%= booking_request.user.name %></p>
                  <p>From: <%= booking_request.start_date %></p>
                  <p>Until: <%= booking_request.end_date %></p>
                  <% if booking_request.status == "pending" %>
                    <p>Status: <strong><%= booking_request.status %></strong></p>
                    <%= link_to "Decline request", decline_path(booking_request), method: :patch, class: "btn btn-danger" %>
                    <%= link_to "Accept request", accept_path(booking_request), method: :patch, class: "btn btn-success" %>
                  <% elsif booking_request.status == "accepted" %>
                    <p>Status: <span id="accepted">Accepted</span></p>
                    <%= link_to "Decline request", decline_path(booking_request), method: :patch, class: "btn btn-danger"  %>
                  <% elsif booking_request.status == "declined" %>
                    <p>Status: <span id="declined">Declined</span></p>
                    <%= link_to "Accept request", accept_path(booking_request), method: :patch, class: "btn btn-success"  %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
