<h2 class="text-center"><%= @user.name %></h2>
<h2 class="text-center">Find all your booking requestes here !</h2>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-3">
      <div class="button-box">
        <a href="#floaty" class="btn btn-primary">Floaty</a>
        <a href="#request" class="btn btn-primary">Requests</a>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
            <h3 id="floaty">Floaty</h3>
        <% @floatdevices.each do |floatdevice| %>
          <div class="col-3">
            <%= link_to floatdevice_path(floatdevice) do %>
              <div class="card-dina my-3">
                <div class="f-lex justify-content-center card-img-div" style="text-align: center">
                  <%= cl_image_tag floatdevice.photo.key %>
                </div>
                <div class="card-dina-infos">
                  <div>
                    <h2><%= floatdevice.name %></h2>
                  </div>
                  <h2 class="card-dina-pricing"><i class="fas fa-euro-sign"></i><%= floatdevice.price %></h2>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
      <h3 id="request">Requests</h3>
        <% @booking_requests.each do |booking_request| %>
          <div class="col-3">
      <%# <%= link_to floatdevice_path(floatdevice) do %>
            <div class="card-dina my-3">
              <div class="f-lex justify-content-center card-img-div" style="text-align: center">
                <%= cl_image_tag booking_request.floatdevice.photo.key %>
              </div>
              <div class="card-dina-infos">
                <div>
                  <p>From: <%= booking_request.start_date %></p>
                  <p>Until: <%= booking_request.end_date %></p>
                </div>
                <h2 class="card-dina-pricing"><%= booking_request.status %></h2>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
