<h2 class="text-center"><%= @user.name %></h2>
<h2 class="text-center">Find all your booking requestes here !</h2>


<div class="container">
  <div class="row">
     <% @floatdevices.each do |floatdevice| %>
        <div class="col-3">
        <%= link_to floatdevice_path(floatdevice) do %>
          <div class="card-dina my-3">
            <div class="f-lex justify-content-center card-img-div" style="text-align: center">
              <%= cl_image_tag floatdevice.photo.key %>
            </div>

            <div class="card-dina-infos">
              <div>
                <h2><%= floatdevice.name %></h2>
                <p><%= floatdevice.description %></p>
              </div>
              <h2 class="card-dina-pricing"><i class="fas fa-euro-sign"></i><%= floatdevice.price %></h2>
            </div>

          </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
