<!DOCTYPE html>
<html>
  <head>
    <title>Floated</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dg9murjje/image/upload/ar_1:1,b_rgb:f600d3,bo_5px_solid_rgb:0aead7,c_fill,g_auto,r_max,w_1000/v1653387311/sqfa66cjv5suawauacq2.png">
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container"><%= render "/shared/navbar" %></div>
      <div class="content-container"><%= yield %></div>
      <div class="footer-container"><%= render "/shared/footer" %></div>
    </div>
  </body>
</html>
